@model IEnumerable<CrudMVCCore.Controllers.RandomController.Beaconx>

@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>
        <p>@ViewData["Title"]</p>
    </h2>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mac)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rssi1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rssi2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rssi3)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rssi4)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rssi1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rssi2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rssi3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rssi4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>